<!--===========-->
<!--BrandLogo MASTER -->
<!--===========-->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Brand Logo</h5>
        </div>
        
        <div class="card-body tab2-card">
            
            <!-- ngbNav TABSET-->
            <ul ngbNav #nav="ngbNav" class="nav-tabs" activeId="viewTab" (navChange)="onTabChange($event)">
            
                <!--___________________-->
                <!--   ADD TAB (form)  -->
                <!--___________________-->
                <li ngbNavItem="addTab"> 
                    <a ngbNavLink>Add</a> 
                    <ng-template ngbNavContent>
                        
                        <!—Add Start-->
                        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                            <!-- BrandLogo Name-->
                            <div class="form-group row">
                                <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span> Name</label>
                                <input class="form-control col-xl-8 col-md-7" type="text" formControlName="name">
                                
                                <!-- Validations -->
                                <div class="col-xl-3 col-md-4"></div>
                                <div class="col-xl-8 col-md-7" *ngIf="f['name'].touched && !f['name'].valid">
                                    <span style="color:#dc3545 !important" *ngIf="f['name'].hasError('required')"> {{validationMessages.name.required}} </span>
                                    <div class="text-danger" *ngIf="formErrors.name">{{formErrors.name}}</div>
                                </div>
                            </div>
                        
                            <!--==================-------->
                            <!-- BrandLogo Image(Upload)-->
                            <!--==================-------->
                            <div class="form-group row">
                                <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span> Image </label>
                                <!-- accept only png/jpeg images-->
                                <input class="form-control col-xl-8 col-md-7" type="file" accept="image/x-png,image/jpeg" #file (change)="upload(file.files)" >
                                
                                <!-- Show Uploaded Image Preview here -->
                                <!-- editImagePath = NoPreview Image(from assets:default) before any image upload-->
                                <div class="col-xl-3 col-md-4"></div>
                                <img [src]="editImagePath" alt="brand logo" width="100px" height="100px">
                            </div>
                            <!--------------------->

                            <!-- Submit Button(ADD/UPDATE) -->
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">{{buttonText}}</button>
                            </div>
                            <!-- Cancel Button -->
                            <div class="pull-right">
                                <button type="submit" class="btn btn-danger mr-2" (click)="cancelForm()">Cancel</button>
                            </div>
                        </form>
                        <!—Add End-->
                    
                    </ng-template> 
                </li> 

                <!--___________________-->
                <!--   VIEW TAB(table) -->
                <!--___________________-->
                <li ngbNavItem="viewTab"> 
                    <a ngbNavLink>View</a> 
                    <ng-template ngbNavContent>

                        <!—View Start-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="custom-datatable">
                                        
                                                <!-- @swimlane/ngx-datatable ------------------->
                                                <!-- Table Name, Image, createdOn, Action(Edit/Delete)-->
                                                <!---------------------------------------------->
                                                <ngx-datatable  class="bootstrap" [rows]="objRows" [columnMode]="'force'"
                                                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                                                [limit]="5" (sort)="onSort($event)" (page)="setPage($event)">

                                                    <!-- Name -->
                                                    <ngx-datatable-column class="bootstrap" name="Name"></ngx-datatable-column>

                                                    <!-- BrandLogo Image -->
                                                    <!-- prop is set in value-->
                                                    <ngx-datatable-column class="bootstrap" name="Image">  
                                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                                            <!-- [src]="row.imagePath" imagePath from API -->
                                                            <img [src]="row.imagePath" alt="brand logo" width="100px" height="100px"/>
                                                        </ng-template>
                                                    </ngx-datatable-column>

                                                    <!-- Created Date-->
                                                    <!-- prop value is set in value-->
                                                    <ngx-datatable-column  class="bootstrap" name="Created Date" prop="createdOn">
                                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                            {{value}}
                                                        </ng-template>
                                                    </ngx-datatable-column>

                                                    <!-- Action(Edit/Delete)-->
                                                    <!-- prop is passed to value-->
                                                    <ngx-datatable-column  class="bootstrap" name="Actions" prop="id">
                                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                            <button type="button" (click)="Edit(value)">  <i class="fa fa-edit"></i> </button>
                                                            <button type="button" (click)="Delete(value)">  <i class="fa fa-trash-o"></i> </button>
                                                        </ng-template>
                                                    </ngx-datatable-column>

                                                </ngx-datatable>
                                                <!----------------------------------------------->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--View End-->

                    </ng-template> 
                </li> 
            </ul> 
            <div [ngbNavOutlet]="nav"></div> 
    
        </div>
    </div>
</div>







